# House Price Prediction

In [2]:
#libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
#dataset
from sklearn.datasets import fetch_california_housing

In [45]:
#data set
data = fetch_california_housing()

In [56]:
df = pd.DataFrame(data = data.data, columns= data.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [57]:
df['Target'] = data.target

In [59]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [62]:
import sweetviz as sv
report  = sv.analyze(df)
report.show_html('./report.html')

                                             |                                             | [  0%]   00:00 ->â€¦

Report ./report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [70]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='geoapiExercises')

In [77]:
geolocator.reverse('37.88'+' , '+'-122.23').raw['address']

{'leisure': 'Ecological Study Area',
 'road': 'Centennial Drive',
 'city': 'Oakland',
 'county': 'Alameda County',
 'state': 'California',
 'ISO3166-2-lvl4': 'US-CA',
 'postcode': '94720-1076',
 'country': 'United States',
 'country_code': 'us'}

In [78]:
 def location(cord[0])
    Latitude = str(cord[0])
    Longitude = str(cord[1])
    
    location = geolocator.reverse(Latitude+","+Longtitude).raw['address']
    if location.get('road') is None:
        location['road'] = None
    if location.get('County') is None:
        location['County'] = None
    loc_update['County'].append(location['County'])
    loc_update['Road'].append(location['Road'])

SyntaxError: invalid syntax (<ipython-input-78-4547cc928fc8>, line 1)

In [ ]:
 import pickle
location_update =pikle.load