# MODEL BUILDING

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('ohe_data_reduce_cat_class.csv')

In [6]:
df.head()

,Unnamed: 0,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,...,location_Kalena Agrahara,location_Horamavu Agara,location_Hosur Road,location_Vidyaranyapura,location_Hebbal Kempapura,location_BTM 2nd Stage,location_Mahadevpura,location_Horamavu Banaswadi,location_Domlur,location_Tumkur Road
0,0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Hosur Road,location_Vidyaranyapura,location_Hebbal Kempapura,location_BTM 2nd Stage,location_Mahadevpura,location_Horamavu Banaswadi,location_Domlur,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

# Split Dataset in train and test

In [10]:
X = df.drop("price", axis=1)
y = df['price']
print('Shape of X = ', X.shape)
print('Shape of y = ', y.shape)

Shape of X =  (7120, 107)
Shape of y =  (7120,)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 51)
print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (5696, 107)
Shape of y_train =  (5696,)
Shape of X_test =  (1424, 107)
Shape of y_test =  (1424,)

# Feature Scaling

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train= sc.transform(X_train)
X_test = sc.transform(X_test)

# Linear Regression

In [50]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
lr = LinearRegression()
lr_lasso = Lasso()
lr_ridge = Ridge()
 
def rmse(y_test, y_pred):
  return np.sqrt(mean_squared_error(y_test, y_pred))
 
lr.fit(X_train, y_train)
lr_score = lr.score(X_test, y_test)
print(lr_score)

0.7903837092682261

# Ridge

In [51]:

lr_rmse = rmse(y_test, lr.predict(X_test))
lr_score

0.7903837092682261

# Lasso

In [25]:
lr_lasso.fit(X_train, y_train)
lr_lasso_score=lr_lasso.score(X_test, y_test) # with balcony 0.5162364637824872
lr_lasso_rmse = rmse(y_test, lr_lasso.predict(X_test))
lr_lasso_score

0.803637294021051

# Support Vector Machine

In [26]:
 from sklearn.svm import SVR
svr = SVR()
svr.fit(X_train,y_train)
svr_score=svr.score(X_test,y_test) # with 0.2630802200711362
svr_rmse = rmse(y_test, svr.predict(X_test))
svr_score

0.20638035840828173

# Random forest Regressor

In [27]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train,y_train)
rfr_score=rfr.score(X_test,y_test) # with 0.8863376025408044
rfr_rmse = rmse(y_test, rfr.predict(X_test))
rfr_score

0.8846653975455803

# Summary

In [32]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\softwares\anaconda\lib\site-packages (0.8.10)

In [58]:
from tabulate import tabulate
 
ml_models = [
    ["LinearRegression", "0.7903837092682261"],
    ["Lasso", "0.7903837092682261"],
    ["Ridge", "0.803637294021051"],
      ["Support Vector Machine", "0.20638035840828173"],
     ["Random forest Regressor", "0.8846653975455803"]
]
heading = ["Model", "Score"]
print(tabulate(ml_models, headers=heading, tablefmt="grid"))

+-------------------------+----------+
| Model                   |    Score |
+=========================+==========+
| LinearRegression        | 0.790384 |
+-------------------------+----------+
| Lasso                   | 0.790384 |
+-------------------------+----------+
| Ridge                   | 0.803637 |
+-------------------------+----------+
| Support Vector Machine  | 0.20638  |
+-------------------------+----------+
| Random forest Regressor | 0.884665 |
+-------------------------+----------+