In [32]:
import numpy as np
import pandas as pd

In [33]:
df=pd.read_csv('news.csv')

In [34]:
df.shape

(6335, 4)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6335 non-null   int64
 1   title       6335 non-null   object
 2   text        6335 non-null   object
 3   label       6335 non-null   object
dtypes: int64(1), object(3)
memory usage: 198.1+ KB

In [36]:
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [37]:
labels=df.label

In [38]:
labels.head()

0    FAKE
1    FAKE
2    REAL
3    FAKE
4    REAL
Name: label, dtype: object

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df['text'], labels, test_size=0.3, random_state=10)

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.5)

In [41]:
tfidf_train=tfidf_vectorizer.fit_transform(x_train)

In [42]:
tfidf_test=tfidf_vectorizer.transform(x_test)

In [43]:
from sklearn.linear_model import PassiveAggressiveClassifier
X=PassiveAggressiveClassifier(max_iter=50)
X.fit(tfidf_train,y_train)
y_pred=pac.predict(tfidf_test)
score=accuracy_score(y_test,y_pred)

In [44]:
print(f'Accuracy: {round(score*100,3)}%')

Accuracy: 94.108%

In [45]:
from sklearn.metrics import accuracy_score, confusion_matrix
confusion_matrix(y_test,y_pred, labels=['REAL','FAKE'])

array([[908,  73],
       [ 39, 881]], dtype=int64)